





body{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
   'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
   'Noto Color Emoji';
 }




 .plateauCategorie
 {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
   
 }
 
 

 .categorieGeneral
 {
     margin: 10px;
     position: relative;
     width: 450px;
     height: 200px;
     background-color: #24dde7;;
     border-radius: 10px;
     box-shadow: rgb(0 0 0 / 62%) 19px 10px 36px -18px;
 
 
 }
 
 @media screen and (max-width: 460px) {
   
     .plateauCategorie
     {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    
       
     }
 
     .categorieGeneral
 {
     margin: 10px 0px 0px 0px;
     width: 330px;
     height: 200px;
         box-shadow: rgb(0 0 0 / 62%) -13px -15px 36px -18px
 }
 }
 
 .categorieGeneral a
 {
     color: black;
 }
 
 .categorieGeneral:hover
 {
     cursor:pointer;
 
 
 }
 .categorieGeneral:active {
 
     transform: translateY(2px);
 }
 
 .titreCategorie
 {
     width:200px;
     position: absolute;
     left: 60px;
     top: 100px;
     font-size: 1.6em;
     font-weight: bold;
     color: blue;
  
 }
 
 .imageCategorie
 {
     float : right;
 }
 



 .rotationVic
 {
 
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: rotating-text-2;
 }
 .rotationEspace
 {
      height: 65px;
      font-size: 1.2em;
      color: blue;
 }
 
 @keyframes rotating-text-2 {
      0% {
        transform: translateY(100%);
       
      }
      100% {
        transform: translateY(0);
      
      }
 
    }



 @media screen and (max-width: 500px) {
     .margeEcran {
         margin: 5px;
     }
     }
 
 .margeEcran 
 {
     margin : 5px;
 }
 
 .menuHaut
 {
     margin : -8px -8px 0px -8px;
 }

.ulStyle
{
     list-style-position: inside;
}
.margeCarte
{
  margin: 5px 0px;
}
.align
{
  text-align: center;
}

.marge20
{
  margin-top: 30px;
}
.margeMenu
{
  margin-top: 10px;
}
.tailleJeu
{
  font-size: 1.5em;
}

.ant-radio-wrapper .ant-radio + span
{
  white-space: normal;
  font-size: 1.3em;
}

.ant-radio-group > .ant-radio-wrapper
{
  display: block;
  margin-bottom: 18px
}

.margeAttente
{
  margin-top : 50px;
}





.bordureInfo { border: 3px solid #c42626; padding: 10px; margin: 10px; border-radius: 5px; box-shadow: 5px 7px 10px 1px rgb(0 0 0 / 20%); }

.tuile
{
    border: 2px solid black;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #baffee3b;
    margin: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    
}

.fondCard
{
    background-color: #dfdfeb;
}

.titreJeu {
     font-size: 1.8em;
     color: purple;
     font-weight: 600;
 }

body {
     touch-action: manipulation;
     user-select: none; 
}

.bordureTitre {
     border: 5px solid #f679e7;
     border-radius: 10px;
     padding: 5px;
}

.fontMoyenne {
     font-size: 1.2em;
}

.fontPetite
{
     font-size: .8em;
}

.petiteImage {
     max-width: 300px;
}

ul li {
     margin-top: 4px;
}

.marge10 {
     margin-top: 10px;
}
.margeGauche10 {
     margin-left: 10px;
}

.couleurHonneur {
     color: #cf0186;
}

.grandeLettre {
     font-size: 1.7em;
}

.couleurRose {
     color: #f36abc;
}

.hauteurCarte {
     height: 220px;
}

.espaceTitreBas {
     margin-bottom: 20px;
}

.bullet ul {
     display: inline-block;
}

.titre {
     font-size: 2.5em;
     color: black;
     margin-top: 5px;
     padding: 5px;
}

.img-responsive {
     display: block;
     max-width: 100%;
     height: auto;
     margin: auto;
}

.droite {
     display: flex;
     justify-content: flex-end;
}

.image {
     max-width: 100%;
}

.margePrincipale {
     padding: 0px 25px;
}

.centre {
     text-align: center;
}

.center {
     margin: auto;
}

.margeDroit {
     margin-right: 10px;
}

.espaceHaut {
     margin-top: 20px;
}

.espaceHautBas {
     margin: 20px 0px;
}

.containerOrdre.supprimer {
     display: none;
}

.jeuOrdre {
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.containerOrdre {
     margin: auto;
     display: grid;
     grid-template-columns: repeat(10, 50px);
     grid-template-rows: repeat(9, 50px);
     align-items: center;
     justify-items: center;
     grid-gap: 5px;
}

.pion {
     height: 50px;
     width: 50px;
     text-align: center;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
}

@media screen and (max-width: 479px) {
     .margePrincipale {
          padding: 0px 10px;
     }

     .containerOrdre {
          margin: auto;
          display: grid;
          grid-template-columns: repeat(10, minmax(30px, 1fr));
          grid-template-rows: repeat(9, minmax(30px, 1fr));
          align-items: center;
          justify-items: center;
          grid-column-gap: 2px;
          grid-row-gap: 5px;
     }

     .pion {
          height: 30px;
          width: 30px;
          text-align: center;
       
          font-weight: bold;
     }
}

.ligneGrise {
     grid-column-start: 1;
     grid-column-end: 11;
     grid-row-start: 9;
     grid-row-end: 9;
     background-color: #c5e1a5;
     justify-self: stretch;
     align-self: stretch;
     z-index: 1;
}

.cercle {
     border-radius: 100%;
}

.rouge {
     background-color: coral;
}

.lettreRouge {
     color: red;
}

.jaune {
     background-color: yellow;
}

.vert {
     background-color: lawngreen;
}

.centreDiv {
     width: 350px;
     margin: auto;
}

.lienFinal {
     font-size: 1.8em;
     color: fuchsia;
}

.ant-tag.tag {
     margin-left: 5px;
}

.listeMenu {
     list-style-type: none;
}

/* Jeux ESP */

.centreGrille {
     margin: auto;
     width: 400px;
}

.gridJoueur {
     display: grid;
     grid-template-columns: repeat(5, 70px);
     grid-template-rows: 100px;
     grid-template-areas: "col1 col2 col3 col4 col5";
     grid-column-gap: 15px;
}

.col1 {
     grid-area: col1;
     max-width: 100%;
}

.col2 {
     grid-area: col2;
     max-width: 100%;
}

.col3 {
     grid-area: col3;
     max-width: 100%;
}

.col4 {
     grid-area: col4;
     max-width: 100%;
}

.col5 {
     grid-area: col5;
     max-width: 100%;
}

.espaceJeu {
     height: 250px;
}

.carteEsp {
     max-width: 70px;
     margin-left: 15px;
}

.grandeLettre {
     font-size: 2em;
}

.centreBloc {
     display: flex;
     justify-content: center;
     align-items: center;
}

.resultatEsp {
     margin-top: 5px;
     margin-bottom: 15px;
}

@media screen and (max-width: 479px) {
     .centreGrille {
          width: 220px;
     }

     .gridJoueur {
          grid-template-columns: repeat(5, 40px);
          grid-template-rows: 100px;
          grid-column-gap: 3px;
     }

     .espaceJeu {
          height: 250px;
     }

     .carteEsp {
          max-width: 40px;
          margin-left: 3px;
     }

     .grandeLettre {
          font-size: 1.5em;
     }
}

/* JeuxTri */

.gridPrincipale {
     display: grid;
     grid-template-columns: 1fr 200px 1fr;
     grid-template-rows: 1fr 200px 1fr;
     grid-template-areas: "bouton1 emp1 bouton2""emp2 empPrincipale emp3""bouton3 emp4 bouton4 ";
     grid-column-gap: 15px;
     user-select: none;
}

.bouton1 {
     grid-area: bouton1;
     justify-self: end;
     align-self: center;
}

.bouton2 {
     grid-area: bouton2;
     justify-self: start;
     align-self: center;
}

.bouton3 {
     grid-area: bouton3;
     justify-self: end;
     align-self: center;
}

.bouton4 {
     grid-area: bouton4;
     justify-self: start;
     align-self: start;
}

.empPrincipale {
     grid-area: empPrincipale;
     justify-self: center;
     align-self: center;
}

.bordure:hover {
     cursor: pointer;
}

.grandeLettreTri {
     font-size: 3em;
}

.espaceHautTri {
     margin-top: 40px;
}

@media screen and (max-width: 540px) {
     .gridPrincipale {
          grid-template-columns: 1fr 100px 1fr;
     }
}

.bordure:focus {
     outline: 0;
}

.bordure {
     border-radius: 5px;
     border: 1px solid black;
     padding: 15px;
     background-color: #40f7e6;
}

@keyframes reussite {
     0% {
          background-color: #40f7e6;
     }

     50% {
          background-color: green;
     }
}

.reussi {
     animation-name: reussite;
     animation-duration: .25s;
     animation-iteration-count: 4;
}

@keyframes echec {
     0% {
          background-color: #40f7e6;
     }

     50% {
          background-color: red;
     }
}

.echec {
     animation-name: echec;
     animation-duration: .25s;
     animation-iteration-count: infinite;
}

.lettreViolet {
     color: #f010f3;
}

.disableTri {
     pointer-events: none;
     cursor: default;
     opacity: .5;
}

/* jeux Puzzle */

.hideCount {
     visibility: hidden;
}

.showCount {
     visibility: block;
}

.gridMainPuzzle {
     display: grid;
     grid-template-columns: [puzzle] 1fr [pieces] 1fr;
     grid-template-rows: 1fr;
     justify-content: center;
     justify-items: center;
}

.gridPuzzle4 {
     margin-top: 5px;
     grid-area: puzzle;
     display: grid;
     grid-template-columns: repeat(2, 260px);
     grid-template-rows: repeat(2, 195px);
     grid-template-areas: "p1 p2""p3 p4";
}

.gridPiece4 {
     margin-top: 5px;
     grid-area: pieces;
     display: grid;
     grid-template-columns: repeat(2, 260px);
     grid-template-rows: repeat(2, 195px);
     grid-row-gap: 5px;
     grid-column-gap: 5px;
     grid-template-areas: "x1 x2""x3 x4";
}

.gridImagePresentation {
     margin-top: 15px;
     grid-area: puzzle;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: minmax(30px, 1fr) 10fr;
     place-items: center;
}

.compteARebours {
     grid-column: 1/1;
     grid-row: 1/1;
     font-size: 2em;
     color: rebeccapurple;
     user-select: none;
}

.imagePresentation {
     grid-column: 1/1;
     grid-row: 2/2;
}

.place1 {
     grid-area: x1;
}

.place2 {
     grid-area: x2;
}

.place3 {
     grid-area: x3;
}

.place4 {
     grid-area: x4;
}

.place5 {
     grid-area: x5;
}

.place6 {
     grid-area: x6;
}

.place7 {
     grid-area: x7;
}

.place8 {
     grid-area: x8;
}

.place9 {
     grid-area: x9;
}

.place10 {
     grid-area: x10;
}

.place11 {
     grid-area: x11;
}

.place12 {
     grid-area: x12;
}

.place13 {
     grid-area: x13;
}

.place14 {
     grid-area: x14;
}

.place15 {
     grid-area: x15;
}

.place16 {
     grid-area: x16;
}

.puzzle1, .puzzle2, .puzzle3, .puzzle4, .puzzle5, .puzzle6, .puzzle7, .puzzle8, .puzzle9, .puzzle10, .puzzle11, .puzzle12, .puzzle13, .puzzle14, .puzzle15, .puzzle16 {
     outline: 1px green dotted;
}

.puzzle1 {
     grid-area: p1;
}

.puzzle2 {
     grid-area: p2;
}

.puzzle3 {
     grid-area: p3;
}

.puzzle4 {
     grid-area: p4;
}

.puzzle5 {
     grid-area: p5;
}

.puzzle6 {
     grid-area: p6;
}

.puzzle7 {
     grid-area: p7;
}

.puzzle8 {
     grid-area: p8;
}

.puzzle9 {
     grid-area: p9;
}

.puzzle10 {
     grid-area: p10;
}

.puzzle11 {
     grid-area: p11;
}

.puzzle12 {
     grid-area: p12;
}

.puzzle113 {
     grid-area: p13;
}

.puzzle14 {
     grid-area: p14;
}

.puzzle15 {
     grid-area: p15;
}

.puzzle16 {
     grid-area: p16;
}

.borderPiece {
     outline: 3px solid #2196f3;
     z-index: 100;
}

.gridPuzzle9 {
     margin-top: 5px;
     grid-area: puzzle;
     display: grid;
     grid-template-columns: repeat(3, 150px);
     grid-template-rows: repeat(3, 112px);
     grid-template-areas: "p1 p2 p3""p4 p5 p6""p7 p8 p9";
}

.gridPiece9 {
     margin-top: 5px;
     grid-area: pieces;
     display: grid;
     grid-template-columns: repeat(3, 150px);
     grid-template-rows: repeat(3, 112px);
     grid-row-gap: 5px;
     grid-column-gap: 5px;
     grid-template-areas: "x1 x2 x3""x4 x5 x6""x7 x8 x9";
}

.gridPuzzle16 {
     margin-top: 5px;
     grid-area: puzzle;
     display: grid;
     grid-template-columns: repeat(4, 110px);
     grid-template-rows: repeat(4, 82px);
     grid-template-areas: "p1 p2 p3 p4""p5 p6 p7 p8""p9 p10 p11 p12""p13 p14 p15 p16";
}

.gridPiece16 {
     margin-top: 5px;
     grid-area: pieces;
     display: grid;
     grid-template-columns: repeat(4, 110px);
     grid-template-rows: repeat(4, 82px);
     grid-row-gap: 5px;
     grid-column-gap: 5px;
     grid-template-areas: "x1 x2 x3 x4""x5 x6 x7 x8""x9 x10 x11 x12""x13 x14 x15 x16";
}

@media screen and (max-width: 1200px) {
     .gridMainPuzzle {
          grid-template-columns: auto;
          grid-template-rows: auto auto;
          grid-template-areas: "puzzle""pieces";
     }

     .gridPuzzle4 {
          grid-template-columns: repeat(2, 169px);
          grid-template-rows: repeat(2, 126px);
     }

     .gridPiece4 {
          grid-template-columns: repeat(2, 169px);
          grid-template-rows: repeat(2, 126px);
     }

     .gridPuzzle9 {
          grid-template-columns: repeat(3, 105px);
          grid-template-rows: repeat(3, 78px);
     }

     .gridPiece9 {
          grid-template-columns: repeat(3, 105px);
          grid-template-rows: repeat(3, 78px);
     }

     .gridPuzzle16 {
          grid-template-columns: repeat(4, 75px);
          grid-template-rows: repeat(4, 56px);
     }

     .gridPiece16 {
          grid-template-columns: repeat(4, 75px);
          grid-template-rows: repeat(4, 56px);
     }
}

/* Jeux suite*/

.gridSuite {
     display: grid;
     grid-template-rows: 150px 80px 1fr;
     grid-template-columns: 1fr;
     justify-items: center;
     align-items: center;
     grid-template-areas: "s1""s2""s3";
}

.nombreSuite {
     text-align: center;
     width: 128px;
     height: 128px;
     font-size: 2em;
     border: 2px solid blue;
     border-radius: 5px;
     background-repeat:no-repeat;
background-position: center center;
}

.boutonSuite {
     grid-area: s2;
}

.textesuite {
     grid-area: s2;
}

.sequenceSuite {
     font-size: 1.3em;
}

.clignotantVert {
     background-color: green;
}

.clignotantRouge {
     background-color: red;
}

@keyframes fadeInFromNone {
     0% {
          opacity: 0;
     }

     40% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

.animationSuite {
     animation: fadeInFromNone 1.2s linear forwards;
   
}

.emplacementImageSuite
{
     grid-area: s1;
}
/* puzzleRotation */

.container {
     display: grid;
     grid-template-columns: repeat(4, 120px);
     grid-template-rows: repeat(4, 120px);
     grid-gap: 0;
}

@media screen and (max-width: 540px) {
     .container {
          display: grid;
          grid-template-columns: repeat(4, 80px);
          grid-template-rows: repeat(4, 80px);
          grid-gap: 0;
     }
}

@keyframes spin1 {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(90deg);
     }
}

@keyframes spin2 {
     from {
          transform: rotate(90deg);
     }

     to {
          transform: rotate(180deg);
     }
}

@keyframes spin3 {
     from {
          transform: rotate(180deg);
     }

     to {
          transform: rotate(270deg);
     }
}

@keyframes spin4 {
     from {
          transform: rotate(270deg);
     }

     to {
          transform: rotate(360deg);
     }
}

.rotation1 {
     animation: spin1 .2s linear;
     animation-fill-mode: forwards;
     transform: scale(1.01, 1.01);
}

.rotation2 {
     animation: spin2 .2s linear;
     animation-fill-mode: forwards;
     transform: scale(1.01, 1.01);
}

.rotation3 {
     animation: spin3 .2s linear;
     animation-fill-mode: forwards;
     transform: scale(1.01, 1.01);
}

.rotation4 {
     animation: spin4 .2s linear;
     animation-fill-mode: forwards;
     transform: scale(1.01, 1.01);
}

.end {
     -webkit-backface-visibility: hidden;
     -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.rotationDepart1 {
     transform: scale(1.01, 1.01) rotate(90deg);
     -webkit-backface-visibility: hidden;
}

.rotationDepart2 {
     transform: scale(1.01, 1.01) rotate(180deg);
}

.rotationDepart3 {
     transform: scale(1.01, 1.01) rotate(270deg);
}

.main {
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

/* Jeux Compte est bon */

.grilleComptePrincipal {
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 70px 70px 50px 50px 1fr auto;
     justify-items: center;
     align-items: center;
     grid-template-areas: "grilleCartes""grilleOperation""grilleResultat""boutonsResetSup""grilleCalcul""resultat";
}

.resultatCompte {
     grid-area: resultat;
     width: 100%
}

.grilleCartes {
     grid-area: grilleCartes;
     display: grid;
     grid-template-columns: repeat(6, 70px);
     grid-template-rows: 60px;
     grid-gap: 10px;
}

.grilleOperation {
     grid-area: grilleOperation;
     display: grid;
     grid-template-columns: repeat(4, 40px);
     grid-template-rows: 40px;
     grid-gap: 10px;
     grid-template-areas: "addition soustraction multiplication division"
}

.grilleResultat {
     grid-area: grilleResultat;
}

.grilleCalcul {
     display: grid;
     grid-template-columns: repeat(5, 70px);
     grid-template-rows: repeat(1, 60px);
     grid-auto-rows: 70px;
     grid-gap: 10px;
     grid-area: grilleCalcul;
}

.solutionCompte {
     width: 400px;
     margin: 10px auto;
}

.operation {
     background-color: purple;
     border-radius: 5px;
     color: white;
     justify-self: center;
     align-self: center;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.5em;
     width: 40px;
     height: 40px;
     user-select: none;
}

.couleurResultat {
     background-color: indigo;
     border-radius: 5px;
     color: white;
     font-size: 2em;
     user-select: none;
     padding: 5px 15px;
}

.resultat {
     grid-area: resultat;
     display: flex;
     align-items: center;
     justify-content: center;
     user-select: none;
}

.marginRight {
     margin-right: 5px;
}

.disabled {
     opacity: .6;
}

.carteCompte {
     background-color: orange;
     border-radius: 5px;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2em;
     user-select: none;
}

.pointeur {
     cursor: pointer;
}

.curseur {
     cursor: default;
}

.addition {
     grid-area: addition;
}

.soustraction {
     grid-area: soustraction;
}

.miltiplication {
     grid-area: multiplication;
}

.division {
     grid-area: division;
}

.cache {
     display: none;
}

.boutonsCompte {
     grid-area: boutonsResetSup;
     display: flex;
     align-items: center;
     justify-content: center;
}

.reset {
     margin-right: 10px;
}

.prochainsJeux {
     display: flex;
     justify-content: center;
}

.footer {
     height: 100px;
}

@media screen and (max-width: 600px) {
     .carteCompte {
          font-size: 1.3em;
          user-select: none;
     }

     .grilleCartes {
          grid-template-columns: repeat(6, 50px);
          grid-template-rows: repeat(1, 50px);
          grid-gap: 5px;
     }

     .grilleCalcul {
          grid-template-columns: repeat(5, 50px);
          grid-template-rows: repeat(1, 50px);
          grid-auto-rows: 50px;
          grid-gap: 5px;
     }

     .grilleResultat {
          grid-template-columns: 55px;
          grid-template-rows: 55px;
     }

     .solutionCompte {
          width: 300px;
     }
}

/* Jeu Les lettres (chiffres et lettres) */

.grilleLettrePrincipal {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.textePresentation
{
     padding: 5px;
     border: 2px solid blue;
     border-radius: 5px;
     background-color: #6b0aa3;
     color:white;
     width: 360px;
     height: 100px;
}



.manche {
     height : 45px;
     text-align: center;
     font-size: 1.5em;
     color: black;
}

.backVictoire
{
     background-color: #b42aa9;
}


.grilleLettres {
     grid-area: grilleLettres;
     justify-self: center;
     display: grid;
     grid-template-columns: repeat(9, 70px);
     grid-template-rows: 60px;
     grid-gap: 10px;
}



.grilleSaisieMot {
     display: grid;
     grid-template-columns: repeat(9, 30px);
     grid-template-rows: repeat(1, 30px);
     text-align: center;
     font-size: 20px;
}

.cacheLettre {
     visibility: hidden;
}

.lettreSaisie {
     background-color: #101ba5;
     color: white;
}

.grilleJoueurs {
     grid-area: grilleJoueurs;
}

.autresJeux {
     margin-left: 10px;
}

.disabledLettre {
     pointer-events: none;
}

.copier {
     color: #f61635;
     font-size: 0.8em;
     cursor: pointer;
}

.reception {
     height: 120px;
     overflow-y: auto;
     overflow-x: hidden;
     border-radius: 5px;
     border: 1px solid #c4dce5;
}

.message {
     background-color: #1890ff;
     border-radius: 7px;
     color: white;
     text-align: left;
     padding: 7px;
     margin: 3px;
}

.deMessage {
     font-style: italic;
}

.messageErreur {
     height: 20px;
}

.espaceErreur {
     font-weight: bolder;
     margin-top: 15px;
}

@media screen and (max-width: 500px) {
    

     .grilleLettres {
          grid-template-columns: repeat(9, 30px);
          grid-template-rows: repeat(1, 45px);
     }

     .grilleLettrePrincipal {
          grid-template-rows: 60px 45px 45px 35px 1fr;
     }

     .messageErreur {
          height: 50px;
     }

     .vainqueur {
          font-size: 1em;
     }

     .message {
          font-size: 0.8em;
     }

     .espaceErreur {
          padding-top: 10px;
     }
}

.couleurTitre {
     color: #cc04aa;
}

/* Memoire */

.espaceJeuMemoire {
     display: flex;
}

.joueurMemoire {
     width: 50%;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.imageMemoire {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: flex-start;
}

.grilleMemoire {
     display: grid;
     grid-template-columns: repeat(5, 60px);
     grid-template-rows: repeat(5, 60px);
}

.carreMemoire {
     outline: 1px green dotted;
}

@keyframes apparition {
     0% {
          transform: scale(0.1);
     }

     100% {
          transform: scale(1);
     }
}

.apparition {
     animation-name: apparition;
     animation-duration: 1s;
}

.white {
     background-color: white;
}

.red {
     background-color: red;
}

.blue {
     background-color: blue;
}

.espaceBouton {
     margin-left: 30px;
}

.disabledMemoire {
     pointer-events: none;
     opacity: 0.2;
}

.espaceHautMemoire {
     margin-top: 30px;
}

.espaceBasMemoire {
     margin-bottom: 5px;
}

.espaceDroitMemoire {
     margin-right: 5px;
}

@media screen and (max-width: 500px) {
     .espaceJeuMemoire {
          flex-direction: column;
     }

     .joueurMemoire {
          width: 100%;
     }

     .imageMemoire {
          width: 100%;
     }

     .grilleMemoire {
          display: grid;
          grid-template-columns: repeat(5, 45px);
          grid-template-rows: repeat(5, 45px);
     }

     .espaceHautMemoire {
          margin-top: 25px;
     }

     #titreMemoire {
          margin-bottom: 0px;
     }
}

/* MemoireFamille */

.espaceJeuFamille {
     display: flex;
     margin-top: 20px;
     user-select: none;
}

.joueurFamille {
     width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.infoFamille {
     width: 40%;
}

.grilleFamille {
     display: grid;
     grid-template-columns: repeat(7, 70px);
     grid-template-rows: repeat(7, 70px);
     gap:1px;
}

.imageFamille {
     max-width: 100%;
     height: auto;
     touch-action: manipulation;
}

.imageFamille:hover {
     outline: 1px green solid;
}

.erreurFamille {
     color: #e90f1a
}

@media screen and (max-width: 800px) {
     .espaceJeuFamille {
          flex-direction: column;
     }

     .grilleFamille {
          grid-template-columns: repeat(7, 45px);
          grid-template-rows: repeat(7, 45px);
     }

     .joueurFamille {
          width: 100%;
     }

     .infoFamille {
          width: 100%;
     }

     .imageFamille {
          width: 50px;
          height: 50px;
     }

     .imageFamille:hover {
          outline: 0;
          border: 0;
     }
}

/* MahJong */

.espaceJeuMah {
     display: flex;
     margin-top: 20px;
     user-select: none;
}

.joueurMah {
     width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.infoMah {
     width: 40%;
}

.grilleMah {
     display: grid;
     grid-template-columns: repeat(5, 64px);
     grid-template-rows: repeat(5, 64px);
}

@media screen and (max-width: 800px) {
     .espaceJeuMah {
          flex-direction: column;
     }

     .grilleMah {
          grid-template-columns: repeat(5, 55px);
          grid-template-rows: repeat(5, 55px);
     }

     .joueurMah {
          width: 100%;
     }

     .infoMah {
          width: 100%;
     }
}

/* Bingo */

.titreBingo {
     color: #e317c0;
     font-weight: 600;
}

.grilleBingo4 {
     font-size: 1.2em;
     display: grid;
     grid-template-columns: repeat(4, 64px);
     grid-template-rows: repeat(4, 64px);
}

.grilleBingo5 {
     font-size: 1.2em;
     display: grid;
     grid-template-columns: repeat(5, 65px);
     grid-template-rows: repeat(5, 65px);
}

.caseBingo4 {
     display: flex;
     align-items: center;
     justify-content: center;
     border: 3px #a29ae1 solid;
     border-radius: 5px;
     cursor: pointer;
     font-weight: 600;
     box-shadow: 2px 2px 6px #26e9ff;
}

.caseBingo5 {
     display: flex;
     align-items: center;
     justify-content: center;
     border: 2px solid #ce9393;
     border-radius: 5px;
     box-shadow: inset 1px 1px 8px 4px #dab8a4;
     cursor: pointer;
     font-weight: 600;
}

.noirci {
     background-color: #cc305e;
     transition: background-color 200ms linear;
}

.caseBleu {
     background-color: #df259d;
     transition: background-color 200ms linear;
}

.hauteurBingo {
     height: 30px;
}

.hauteurTirage {
     height: 50px;
}

.couleurJoueur {
     color: #152fb2;
}

.espaceJeuBingo {
     display: flex;
     margin-top: 20px;
     user-select: none;
     align-items: flex-start;
     flex-direction: row;
}

.joueurBingo {
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.infoBingo {
     width: 40%;
}

.tailleMoyenne {
     font-size: 1.2em;
}

.couleurNumero {
     color: #f8012f;
}

@media screen and (max-width: 600px) {
     .espaceJeuBingo {
          flex-direction: column;
          justify-content: center;
     }

     .joueurBingo {
          width: 100%;
     }

     .infoBingo {
          width: 100%;
     }
}

/* Concours */

.margeStep {
     margin: 50px;
}

/* Pyramide */

.casePy {
     border: 2px solid #3823dd;
     background-color: #81bc6a;
     display: flex;
     color: black;
     margin-top: 2px;
     height: 45px;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     font-weight: 500;
}

.casePySelection {
     box-shadow: 0px 0px 8px 0px #1238ff;
     background-color: #bdfaa6;
}

.casePyInterrogation {
     background-color: #4efe0c;
}

.gridChoixPy {
     display: grid;
     grid-template-columns: repeat(4, 55px);
     grid-template-rows: repeat(2, 55px);
     align-items: center;
     justify-items: center;
     grid-gap: 5px;
     font-size: 1.2em;
}

.caseChoixPy {
     display: flex;
     align-items: center;
     height: 45px;
     width: 45px;
     justify-content: center;
     border: 3px #a29ae1 solid;
     border-radius: 50%;
     cursor: pointer;
     background-color: cyan;
}

.selectionPyBordure {
     border: 6px #a29ae1 solid;
}

.centrePy {
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.pyramide {
     user-select: none;
}

/*Fubuki */

.nombreAddition {
     place-self: center;
     display: flex;
     align-items: center;
     height: 45px;
     width: 45px;
     justify-content: center;
     border: 3px black solid;
     border-radius: 50%;
     background-color: #e3cc8c;
}

.nombreGrille {
     margin: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 3px black solid;
     border-radius: 5px;
     background-color: orange;
}

.pointInterrogation {
     background-color: yellow;
     cursor: pointer;
}

.grilleFubuki5 {
     display: grid;
     grid-template-columns: repeat(5, 70px);
     grid-template-rows: repeat(5, 70px);
}

.grilleFubuki4 {
     display: grid;
     grid-template-columns: repeat(4, 70px);
     grid-template-rows: repeat(4, 70px);
}

.gros {
     transform: scale(1.3);
}

.nombreSelectionF {
     font-weight: bold;
     border: 6px black solid;
     transform: scale(1.2);
}

.centreFu {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     user-select: none;
}

/* graphique */

.graph {
     width: 600px;
     height: 500px;
}

@media screen and (max-width: 600px) {
     .graph {
          width: 340px;
          height: 340px;
     }
}

/* Math */

.bordChoix {
     border-radius: 10px;
     background-color: #ffeb3b;
     height: 40px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.bordMath {
      padding: 2px;
     background-color: violet;
     border-radius: 5px;
     display: inline-block;
     vertical-align: middle;
     width: 24px;
     min-height: 30px;
     text-align: center;
     margin: 0px 1px;
}

.hauteurMath {
     margin: 30px auto;
     text-align: center;
     max-width: 900px;
}

.pointeurMath {
     cursor: pointer;
}

.bordLettre {
     border-radius: 10px;
     background-color: orange;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
}

/* memoryGame */

.liColVide {
     place-self: center;
     height: 45px;
     width: 45px;
     border: 3px blue solid;
     border-radius: 50%;
     background-color: white;
}

.liColPlein {
     place-self: center;
     height: 45px;
     width: 45px;
     border: 3px blue solid;
     border-radius: 50%;
     padding: 3px;
     background-clip: content-box;
     background-color: blue;
}

.liColVide:hover {
     cursor: pointer;
}

.caseCache {
     display: none;
}

.jeuMemory {
     display: flex;
     flex-direction: row;
     user-select: none;
}

.infoMemory {
     width: 20%;
     text-align: center;
}

.grilleMemory {
     width: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     user-select: none;
}

.imageMemory {
     margin: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 3px #d26b6b solid;
     border-radius: 5px;

}

.imageHide {
     opacity: 0;
}

.imageShow {
     opacity: 1;
     -webkit-transition: opacity .25s ease-in-out .0s;
     transition: opacity .25s ease-in-out .0s;
}

.imageHide:hover {
     cursor: pointer;
}

.grilleMemory5 {
     display: grid;
     grid-template-columns: repeat(5, 70px);
     grid-template-rows: repeat(5, 70px);
}


.grilleMemory3 {
     display: grid;
     grid-template-columns: repeat(3, 70px);
     grid-template-rows: repeat(3, 70px);
}

@media screen and (max-width: 550px) {
     .jeuMemory {
          display: flex;
          flex-direction: column
     }

     .infoMemory {
          width: 100%
     }

     .grilleMemory {
          width: 100%
     }
}

/* Simon */
.centreGrille {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center
}

.grilleSimon {
     font-size: 1.2em;
     display: grid;
     grid-template-columns: repeat(4, 80px);
     grid-template-rows: repeat(4, 80px)
}

.caseSimon {
     display: flex;
     align-items: center;
     justify-content: center;
     border: 2px solid #a29ae1
}

@keyframes apparition {
     0% {
          background-color: #fff
     }

     to {
          background-color: #b42aa9
     }
}

.noirciSimon {
     width: 60px;
     height: 60px;
     border-radius: 60px;
     background-color: #b42aa9;
     -webkit-animation: apparition .7s linear;
     animation: apparition .7s linear
}


/* Binero */

.jeuBinero {
     display: flex;
     flex-direction: column;
     user-select: none;
 
 }
 
 
 .grilleCentre {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .grilleBinero {
     display: grid;
     grid-template-columns: repeat(4, 60px);
     grid-template-rows: repeat(4, 60px);
     grid-auto-columns: 60px;
     grid-auto-rows: 60px;
     grid-gap: 1px;
 }
 
 .caseBinero
 {
     border: 2px solid #95a4f7;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     font-weight: 500;
     user-select: none;
 }
 
 .caseBineroChoix
 {
     background-color: #f5f0f0;
     cursor: pointer;
 
 }
 
 @media screen and (max-width: 600px) {
     .grilleBinero {
         display: grid;
         grid-template-columns: repeat(4, 55px);
         grid-template-rows: repeat(4, 55px);
         grid-auto-columns: 55px;
         grid-auto-rows: 55px;
         grid-gap: 1px;
     }
 }
 
/* Picross */

.jeuPicross {
     display: flex;
     flex-direction: column;
     user-select: none;
 
 }
 
 
 
 
 .grillePicross {
     display: grid;
     grid-template-columns: repeat(11, 20px);
     grid-template-rows: repeat(11, 20px);
     grid-auto-columns: 20px;
     grid-auto-rows: 20px;
 
 }
 
 
 @media screen and (max-width: 380px) {
     .grillePicross {
         display: grid;
         grid-template-columns: repeat(11, 17px);
         grid-template-rows: repeat(11, 17px);
         grid-auto-columns: 17px;
         grid-auto-rows: 17px;
     }
 }
 
 .bordureCote {
     font-size: 1.3em;
     border-left: 1px solid #ff00cd;
     border-right: 1px solid #ff00cd;
 
 }
 
 .bordureBas {
     font-size: 1.3em;
     border-top: 1px solid #ff00cd;
     border-bottom: 1px solid #ff00cd;
 
 }
 
 
 
 .bordureGrille {
 
     border: 1px solid gray;
 }
 
 .centrePicross {
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 
 .pleinPicross {
     background-color: #e01860;
 }
 .lignes
 {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     
 } 
  /* photo */
  .reponsePhoto {

     cursor: pointer;
     padding: 10px 5px;
     background-color: #6dc0a638;
     margin: 2px;
     border-radius: 5px;
 }

 @keyframes apparitionDroite {
     0% {
       transform: translateX(100%);
       opacity: 0;
     }
     100% {
       transform: translateX(0);
       opacity: 1;
     }
   }
   
   .texte-animation {
     animation: apparitionDroite 1s ease-out;
   }

   .pagePhoto {
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.affichePhoto
{
     margin : 40px 0px;
}

.hauteurCarte2 {
     height: 150px;
     background-color: #26e9ff;
    box-shadow:  5px -5px #8bd6d6
}
