.presentationJeu
{
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
}
.presentationJeu a, a:visited, a:hover, a:active {
    color: #ad0000;
  }
.rougeV{
    color: red;
}
.bleuV
{
    color: blue;
}
.jauneV
{
    color: yellow;
}
.vertV
{
    color: green;
}
.roseV
{
    color: pink;
}
.violetV
{
    color: violet;
}

.jeuCouleur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caseCouleur
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 3em;

}

.caseCouleur2
{
    background-color: #933f3f;
}
.compteReboursVitesse
{
    float: right;
}
.reponseCouleur
{
    height: 30px;
}

.rougePaire
{
    color: white;
    background-color: red;
    width:100px;
    margin: 5px auto;
    text-align: center;
}

.bleuPaire
{
    color: white;
    background-color: blue;
    width:100px;
    margin: 5px auto;
    text-align: center;
}

@keyframes fadeInFromNone2 {
    0% {
         opacity: 0;
    }

    40% {
         opacity: 0;
    }

    100% {
         opacity: 1;
    }
}

.animationSuite2 {
    animation: fadeInFromNone2 1.2s linear forwards;
  
}

/* calcul */

/* Simon */
.centreGrilleCalMen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.grilleCalMen {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px)
}

.caseCalMen {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #a29ae1
}

.messageCalMen
{
    color :#146613
}